@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

@keyframes gradientBG {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, #dbeafe, #fff, #bfdbfe, #f0abfc);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}